@import url('https://fonts.cdnfonts.com/css/fruktur');

:root {
  --main-color: #6244C5;
  --main-dark: #252439;
  --main-yellow: #ffc448;
  --sec-dark: #302f43;
  --white: #ffffff;
  --text-grey: rgba(255, 255, 255, .8);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  position: absolute;
  top: 0rem;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  padding: 1rem 2rem;
  background: var(--main-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: top 500ms;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .sm-menu {
  top: 70px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
}

#menu-toggle:checked ~ header {
  box-shadow: none;
}

header label {
  display: none;
}

header label span {
  color: var(--white);
  font-size: 1.8rem;
  cursor: pointer;
}

.fixed {
  position: fixed;
  top: 0;
  padding: .8;
}

.btn {
  font-family: 'Poppins', sans-serif;
  padding: 1rem 2rem;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1.05rem;
}

.sm-menu {
  position: fixed;
  top: -1170px;
  right: 0;
  left: 0;
  background: var(--main-dark);
  z-index: 10;
  padding: 1rem;
  transition: top 500ms;
}

.sm-menu li {
  padding: 1rem;
  text-align: center;
}

.sm-menu li:last-child {
  padding: 2rem;
}

.sm-menu a {
  color: var(--white);
  font-size: 1.1rem;
}

#responsive-btn {
  padding: 1rem 2rem;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1.05rem;
  background: var(--white);
  color: rgba(0, 0, 0);
  transition: all .3s;
}

#responsive-btn:hover {
  background: var(--main-color);
  color: var(--white);
  transition: all .3s;
}

header h2 {
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 1.7rem;
}

.logo-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: var(--main-color);
  color: var(--white);
  display: inline-block;
  margin-right: .5rem;
  display: grid;
  place-content: center;
}

.logo-icon>span {
  color: var(--white);
  font-size: 1.4rem;
}

header ul {
  display: flex;
}

header li {
  margin-right: 2rem;
}

header a {
  color: rgba(255, 255, 255, .8);
  padding: 0rem .1rem .5rem .1rem;
  padding-bottom: .5rem;
  transition: all .3s;
}

header a:hover {
  color: var(--main-color);
  transition: all .3s;
}

header a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.more-links a {
  background: var(--white);
  color: rgba(0, 0, 0);
  transition: all .3s;
}

.more-links a:hover {
  background: var(--main-color);
  color: var(--white);
  transition: all .3s;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  background: var(--main-dark);
}

.hero-flex {
  padding-top: 5rem;
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 100vh;
}

.hero-desc h1 {
  font-size: 3rem;
  color: var(--white);
  letter-spacing: -4px;
  font-weight: 500;
}

.hero-desc h1 span {
  color: var(--main-yellow);
  font-size: 3.4rem;
}

.hero-icons {
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.hero-icons,
.hero-icons>div {
  display: flex;
  align-items: center;
}

.hero-icons>span {
  color: var(--text-grey);
  display: inline-block;
  margin-right: 1rem;
}

.hero-icons>div a {
  height: 50px;
  width: 50px;
  display: grid;
  place-content: center;
  background: var(--white);
  border-radius: 50%;
  margin-right: .8rem;
  font-size: 1.4rem;
  color: #000;
  transition: all .3s;
}

.hero-icons > div a:hover {
  background-color: var(--main-color);
  color: var(--white);
  transition: all .3s;
}

.job-title {
  display: flex;
  align-items: center;
}

.job-title span {
  width: 70px;
  height: 1px;
  background: var(--white);
  margin-right: 1rem;
  margin-top: .5rem;
}

.job-title h3 {
  color: var(--white);
  font-weight: 400;
  font-size: 1.4rem;
}

.hero-desc p {
  margin: 2rem 0rem;
  color: rgba(255, 255, 255, .8);
  line-height: 1.8rem;
}

.hero-btns {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
}

.hero-btns a {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.hero-btns a span {
  font-size: 1.5rem;
  display: inline-block;
  margin-left: .5rem;
}

.hero-btns a:first-child {
  background: var(--main-color);
  color: var(--white);
  display: inline-block;
  margin-right: 1.5rem;
  padding: 1.3rem 2.2rem;
  transition: all .3s;
}

.hero-btns a:first-child:hover {
  background: var(--white);
  color: #000;
  transition: all .3s;
}

.hero-btns a:last-child {
  padding: 1.3rem 1rem;
  color: var(--white);
  transition: all .3s;
}

.hero-btns a:last-child:hover {
  color: var(--main-yellow);
  transition: all .3s;
}

.hero-btns a:last-child span {
  transform: rotate(45deg);
}

.hero-img {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  max-width: 50%;
}

img {
  width: 100%;
}

.hero-img-inner>img {
  width: 80%;
  margin-bottom: -4px;
}

.welcome {
  position: absolute;
  right: 0px;
  top: 55%;
  height: 170px;
  width: 170px;
}

.welcome-inner {
  position: relative;
}

.welcome-inner img {
  animation: rotateObj 5s infinite linear;
}

@keyframes rotateObj {
  0% {
    transform: rotate(360deg);
  }
}

.welcome-inner span {
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 2rem;
  color: var(--white);
  transform: translate(-40% -40%);
}

.container {
  margin: auto;
  width: 75%;
}

section:not(.hero) {
  padding: 8rem 0rem;
}

section.about {
  background: var(--main-color);
}

.about-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
}

.exp-num {
  display: flex;
  justify-content: center;
}

.exp-num>div {
  background: var(--main-yellow);
  width: auto;
  display: inline-block;
}

.exp-num h1 {
  font-size: 21rem;
  font-weight: 700;
  line-height: 21rem;
  color: var(--main-color);
  position: relative;
  margin-top: -4.4rem;
  right: -1.8rem;
  letter-spacing: -10px;
  font-family: 'Oswald', sans-serif;
}

.exp-num span {
  position: relative;
  right: -4rem;
  display: inline-block;
  margin-bottom: 1.5rem;
  font-family: 'Oswald', sans-serif;
}

.exp-num h3 {
  font-size: 3rem;
  position: relative;
  margin-bottom: -1rem;
  right: -.2rem;
  color: var(--main-color);
  font-family: 'Oswald', sans-serif;
  letter-spacing: -.1rem;
}

.section-head {
  font-size: 3rem;
  letter-spacing: -2px;
  display: flex;
  align-items: flex-end;
  line-height: 2.1rem;
  color: var(--white);
}

.section-head.block {
  display: block;
  line-height: 3rem;

}

section.about .section-head {
  color: var(--white);
  margin-bottom: 2rem;
}

.section-head span {
  width: 70px;
  height: 1px;
  display: inline-block;
  background: var(--white);
  margin-left: .8rem;
}

.section-head.block span {
  margin-left: .3rem;
}

.about-info {
  padding-right: 1rem;
}

.about-info p {
  color: rgba(255, 255, 255, .6);
  line-height: 1.7rem;
  margin-bottom: 3rem;
}

.about-btns {
  display: flex;
  align-items: center;
}

.about-btns a {
  background: var(--white);
  display: flex;
  align-items: center;
  padding: 1.3rem 2rem;
  margin-right: 1.4rem;
  font-size: 1.4rem;
  transition: all .3s;
}

.about-btns a:hover {
  transition: all .3s;
  background: var(--main-yellow);
  color: var(--main-color);
}

.about-btns a span {
  display: inline-block;
  margin-left: .6rem;
}

.about-btns img {
  width: 150px;
}

.area {
  background: var(--main-dark);
}

.area-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6.5rem;
}

.area-desc h2 {
  color: var(--white);
  margin-bottom: 2.5rem;
}

.area-details input[type=radio] {
  display: none;
}

.area-desc p {
  line-height: 1.7rem;
  color: var(--text-grey);
  margin-bottom: 1rem;
}

.area-btns {
  margin-top: 3rem;
}

.area-btns a {
  background: var(--main-color);
  color: var(--white);
  transition: all .3s;
}

.area-btns a:hover {
  background: var(--white);
  color: #000;
  transition: all .3s;
}

.area-btns a span {
  display: inline-block;
  margin-left: .3rem;
  font-size: 1.4rem;
}

.area-labels {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  justify-content: space-between;
}

.area-labels label {
  padding: 1rem 2rem;
  color: var(--white);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.area-labels label span {
  transform: rotate(45deg);
  display: inline-block;
  margin-left: .5rem;
}

#skill:checked~.area-labels .skill-label {
  border: 1px solid var(--white);
  border-radius: 20px;
}

#experience:checked~.area-labels .exp-label {
  border: 1px solid var(--white);
  border-radius: 20px;
}

#education:checked~.area-labels .edu-label {
  border: 1px solid var(--white);
  border-radius: 20px;
}

#skill:not(:checked)~.area-info .skill-area,
#experience:not(:checked)~.area-info .exp-area,
#education:not(:checked)~.area-info .edu-area {
  display: none;
}

#skill:checked~.area-info .skill-area {
  display: grid;
}

#experience:checked~.area-info .exp-area {
  display: grid;
}

#education:checked~.area-info .edu-area {
  display: grid;
}

.skill-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.skill-area>div {
  margin-bottom: 1rem;
  text-align: center;
}

.skill-icon {
  height: 50px;
  width: 50px;
  background: var(--white);
  border-radius: 50%;
  place-content: center;
  display: grid;
  margin: auto;
  margin-bottom: 1rem;
}

.skill-icon span {
  font-size: 1.4em;
}

.skill-area>div small {
  color: var(--white);
  font-size: .9rem;
}

.exp-area,
.edu-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
}

.experience span {
  color: var(--main-color);
}

.experience h4 {
  margin: .5rem 0rem;
  color: var(--text-grey)
}

.experience h3 {
  font-size: 1.25rem;
  color: var(--white);
  margin-top: 1.52rem;
}

.experience h3 span {
  color: var(--white);
  padding-top: .3rem;
  border-top: 2px solid var(--white);
  margin-top: 1.5rem;
}

.projects-num {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
  padding: 0rem 3rem;
  text-align: center;
}

.num-count {
  position: relative;
}

.num-count h1 {
  color: var(--white);
  font-family: 'Lucida handwriting';
  font-size: 4rem;
  position: relative;
  z-index: 3;
}

.num-count span {
  position: absolute;
  height: 70px;
  width: 70px;
  background: var(--main-yellow);
  top: 15%;
  z-index: 2;
  border-radius: 50%;
  left: 20%;
}

.projects-num small {
  display: inline-block;
  margin-top: 1rem;
  color: var(--text-grey);
  font-size: .9rem;
}

.services {
  background: var(--sec-dark);
}

.service-wrapper>h2 {
  margin-bottom: 4.5rem;
  color: var(--white);
}

.mb-5 {
  margin-bottom: 4.5rem;
  color: var(--white);
}

.service {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  align-items: center;
}

.service.active {
  background: var(--main-color);
}

.service:first-child {
  border-top: 1px solid rgba(255, 255, 255, .3);
}

.service>div {
  display: flex;
  align-items: center;
}

.service.active>div h3,
.service.active>div h2 {
  color: var(--white);
}

.service>div h3 {
  margin-right: 2rem;
  color: var(--main-color);
}

.service>div h2 {
  color: var(--white);
  font-size: 1.5rem;
}

.service p {
  color: var(--text-grey);
  line-height: 1.7rem;
  max-width: 50%;
}

.service span {
  transform: rotate(45deg);
  font-size: 1.7rem;
  color: var(--white);
  cursor: pointer;
  transition: all .3s;
}

.service span:hover {
  color: var(--main-yellow);
  transition: all .3s;
}

.service.active span {
  color: var(--white);
  transition: all .3s;
}

.service.active span:hover {
  color: var(--main-yellow);
  transition: all .3s;
}

.projects {
  background: var(--main-yellow);
}

.projects-wrapper h2 {
  margin-bottom: 4rem;
  color: #000;
}

.projects-wrapper h2 span {
  background: #000;
}

.project {
  margin: 1rem;
}

.project-img {
  height: 360px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-bottom: 1rem;
  transition: background .3s;
  cursor: pointer;
  transition: all .3s;
}

.project-img:hover {
  transform: scale(1.05);
  transition: all .3s;
}

.project-desc h4 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.project-desc h3 {
  border-bottom: 1px solid #000;
  display: inline-block;
  padding-bottom: .3rem;
  font-size: 1.4rem;
}

.feedbacks {
  background: var(--sec-dark);
}

.feedback-wrapper h2 {
  margin-bottom: 4rem;
}

.feedback {
  display: grid;
  grid-template-columns: 28% auto;
  align-items: center;
  grid-gap: 7rem;
}


.feedback-details p,
.feedback-details h4 {
  font-size: 1.4rem;
  color: var(--white);
  margin-bottom: 1.5rem;
}

.feedback-details h4 {
  margin-bottom: .4rem;
}

.feedback-details h4 .line {
  display: inline-block;
  width: 2rem;
  height: 1px;
  background: var(--white);
  margin-right: .5rem;
}

.feedback-details small {
  font-size: .95;
  font-weight: 400;
  color: var(--white);
  display: inline-block;
  margin-left: 2.7rem;
}

.blogs {
  background: var(--main-dark);
}

.blog-wrapper h2 {
  margin-bottom: 5rem;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin-bottom: 6rem;
}

.blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  background: var(--main-yellow);
  padding: 1rem;
}

.date {
  display: flex;
  align-items: center;
}

.dot {
  height: 5px;
  width: 5px;
  display: inline-block;
  background-color: #f26449;
  border-radius: 100%;
  margin-right: .5rem;
}

.dot+span {
  color: rgba(0, 0, 0, 0.6);
}

.blog-desc h4 {
  margin: 1.5rem 0rem;
  font-size: 1.2rem;
}

.blog-desc a {
  display: inline-block;
  margin-top: 1.8rem;
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.1rem;
  transition: all .3s;
}

.blog-desc a:hover {
  transform: scale(1.05);
  transition: all .3s;
}

.blog-desc a span {
  font-size: 1.3rem;
  transform: rotate(45deg);
}

.sponsors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.contact-us {
  background: #12141d;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 13% auto 20%;
  grid-gap: 7rem;
  align-items: center;
}

.contact-img {
  position: relative;
}

.contact-img img {
  animation: rotateObj 5s infinite linear;
}

.contact-img>div span {
  position: absolute;
  color: var(--white);
  font-size: 1.8rem;
  top: 38%;
  left: 38%;
}

.contact-info h1 {
  font-size: 3rem;
  margin-bottom: 1.3rem;
  color: var(--white);
}

.contact-info p {
  color: var(--text-grey);
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.contact-btns a {
  background: var(--main-color);
  color: var(--white);
  padding: 1rem 2rem;
}

.contact-btns a span {
  font-size: 1.4rem;
  display: inline-block;
  margin-left: .5rem;
}

.address-wrapper,
.address-info,
.contact-icons,
.contact-icons>div {
  display: flex;
  align-items: center;
}

.contact-icons > div {
  padding: 0 1.77rem;
}

.address-wrapper {
  justify-content: space-between;
  margin-top: 5rem;
  color: var(--white);
}

.call {
  margin-right: 4rem;
}

.call small,
.email small {
  font-size: .95rem;
  display: inline-block;
  margin-bottom: .5rem;
  color: var(--text-grey);
}

.contact-icons>span {
  display: inline-block;
  color: var(--text-grey);
  margin-right: 1rem;
}

.contact-icons>div div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background: var(--text-grey);
}

.contact-icons > div div:hover {
  background: var(--white);
}

.contact-icons > div span {
  color: #000;
  font-size: 1.3rem;
}

.contact-icons > div div:not(:first-child) {
  margin-left: .5rem;
}

footer {
  background: var(--main-yellow);
  padding: 2rem;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo h2 {
  display: flex;
  align-items: center;
}

.to-top-btn {
  position: fixed;
  bottom: 7rem;
  right: -10rem;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 500;
  z-index: 9;
  transition: right 300ms;
}

.to-top-btn.show {
  right: -2rem;
}

.to-top-btn .line {
  display: inline-block;
  height: 1px;
  background: var(--white);
  width: 60px;
  margin-left: .5rem;
}

@media only screen and (max-width:1200px) {
  .hero-flex, .container {
    width: 100%;
    padding: 3rem;
    padding-left: 3rem;
  }
}

@media only screen and (max-width:1000px) {
  .about-wrapper,
  .area-wrapper,
  .contact-wrapper,
  .feedback,
  .blog-list {
    grid-template-columns: 100%;
  }

  .feedback {
    grid-gap: 2rem;
  }

  .feedback-img img {
    width: 300px;
  }

  .contact-wrapper {
    grid-gap: 2rem;
  }

  .contact-img {
    width: 120px;
  }

  .contact-btns {
    margin-top: 1rem;
  }

  .address-wrapper {
    display: block;
  }

  .contact-icons {
    margin-top: 2rem;
  }

  .contact-icons > div {
    padding: 0;
  }
}

@media only screen and (max-width:991px) {
  header ul, .more-links {
    display: none;
  }

  header label {
    display: inline-block;
  }

  header {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
  }

  .hero-flex {
    display: block;
    padding-top: 10rem;
  }

  .hero-img {
    display: none;
  }

  .projects-num {
    flex-wrap: wrap;
    margin-top: 8rem;
    padding: 0rem;
  }

  .num-count {
    position: relative;
  }

  .num-count h1 {
    font-size: 2.5rem;
  }

  .num-count span {
    position: absolute;
    height: 35px;
    width: 35px;
    background: var(--main-yellow);
    top: 15%;
    z-index: 2;
    border-radius: 50%;
    left: 30%;
  }

  .service {
    display: block;
  }

  .service > div {
    margin-bottom: 1rem;
    align-items: center;
  }

  .service p {
    max-width: 100%;
  }

  .service > a span {
    display: none;
  }
}

@media only screen and (max-width:768px) {
  .footer-wrapper{
    display: block;
    text-align: center;
  }

  .footer-wrapper h2 {
    justify-content: center;
    margin-bottom: 1rem;
  }
}